<template>
    <v-container>
        <v-layout style="position: relative">
            <v-textarea
                    ref="textarea"
                    name="text"
                    :value="text"
                    @input="updateParent"
            />
            <v-menu :close-on-content-click="false" offset-y>
                <template v-slot:activator="{ on }">
                    <v-btn
                            :icon="true"
                            v-on="on"
                            absolute
                            bottom
                            right
                            @click="initializeEmojiPicker()"
                    >😄
                    </v-btn>
                </template>

                <picker
                        v-if="isEmojiPickerInitialized"
                        :data="emojiPickerData"
                        :title="'Pick your emoji...'"
                        :emoji="'point_up'"
                        @select="addEmoji"
                ></picker>
            </v-menu>
        </v-layout>
    </v-container>
</template>

<script lang="ts">
    import "reflect-metadata";
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import Picker from "emoji-mart-vue-fast/src/components/Picker.vue";
    import {EmojiIndex} from "emoji-mart-vue-fast";
    import EmojiHelper from "@/App/Helper/EmojiHelper";

    @Component({
        components: {
            Picker
        }
    })
    export default class PostTextComponent extends Vue {
        @Prop() private text!: string;

        private isEmojiPickerInitialized: boolean = false;

        get emojiPickerData(): EmojiIndex {
            return EmojiHelper.emojiIndex;
        }

        initializeEmojiPicker(): void {
            this.isEmojiPickerInitialized = true;
        }

        addEmoji(emoji: any): void {
            let end = '';
            let start = '';
            const textarea = this.$el.querySelector('textarea') as HTMLTextAreaElement;
            const cursorPosition = textarea.selectionEnd;

            if (this.text != null) {
                start = this.text.substring(0, textarea.selectionStart);
                end = this.text.substring(textarea.selectionStart);
            }

            this.updateParent(start + emoji.native + end);
            textarea.focus();
            this.$nextTick(() => {
                textarea.selectionEnd = cursorPosition + emoji.native.length
            });
        }

        private updateParent(text: string): void {
            this.$emit('textChanged', text);
        }
    }
</script>
