<template>
    <v-container>
        <v-row v-for="(postButtonRow, postButtonRowIndex) in postButtonRows" :key="postButtonRowIndex">
            <v-col v-for="(postButton, postButtonIndex) in postButtonRow.postButtons" :key="postButtonIndex">
                <post-button-component
                        :post-button="postButton"
                        @buttonChanged="emitButtonsChanged"
                        @buttonRemoved="(removedButton) => {removeButtonFromRow(removedButton, postButtonRow)}"
                />
            </v-col>
            <v-col>
                <v-btn @click="addButtonToRow(postButtonRow)">+</v-btn>
            </v-col>
        </v-row>
        <v-btn @click="addRowAndButton">+</v-btn>
    </v-container>
</template>

<script lang="ts">
    import "reflect-metadata";
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import PostButtonRow from "@/App/Model/PostButtonRow";
    import PostButton from "@/App/Model/PostButton";
    import PostButtonFactory from "@/App/Factory/PostButtonFactory";
    import PostButtonRowFactory from "@/App/Factory/PostButtonRowFactory";
    import PostButtonComponent from "@/Components/PostComponent/PostButtonComponent.vue";

    @Component({
        components: {PostButtonComponent}
    })
    export default class PostButtonsComponent extends Vue {
        @Prop() private postButtonRows!: PostButtonRow[];

        addRowAndButton(): void {
            this.postButtonRows.push(
                PostButtonRowFactory.createWithButtons(PostButtonFactory.createEmpty())
            );

            this.emitButtonsChanged();
        }

        addButtonToRow(buttonRow: PostButtonRow): void {
            buttonRow.postButtons.push(PostButtonFactory.createEmpty());

            this.emitButtonsChanged();
        }

        removeButtonFromRow(button: PostButton, buttonRow: PostButtonRow): void {
            const buttonIndex = buttonRow.postButtons.indexOf(button, 0);
            if (buttonIndex > -1) {
                buttonRow.postButtons.splice(buttonIndex, 1);
            }

            if (buttonRow.postButtons.length === 0) {
                const buttonRowIndex = this.postButtonRows.indexOf(buttonRow, 0);
                if (buttonRowIndex > -1) {
                    this.postButtonRows.splice(buttonRowIndex, 1);
                }
            }

            this.emitButtonsChanged();
        }

        emitButtonsChanged(): void {
            this.$emit('buttonsChanged')
        }
    }
</script>
