<template>
    <vue-upload-multiple-image
            @upload-success="uploadImageSuccess"
            @before-remove="beforeRemove"
            @edit-image="editImage"
            browse-text="Upload"
            drag-text="Photo"
            :data-images="images"
            :multiple="false"
            :showPrimary="false"
    ></vue-upload-multiple-image>
</template>

<script lang="ts">
    import "reflect-metadata";
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import Media from "@/App/Model/Media";
    import VueUploadMultipleImage from 'vue-upload-multiple-image/src/components/VueUploadMultipleImage.vue';
    import UploadMedia, {UploadMediaPayload} from "@/Store/Actions/UploadMedia";

    @Component({
        components: {
            VueUploadMultipleImage
        }
    })
    export default class PostMediasComponent extends Vue {
        @Prop() private medias!: Media[];

        get images(): Image[] {
            if (!this.hasMedia) {
                return []
            }

            return this.medias.map((media: Media) => {
                return {
                    path: media.url,
                } as Image;
            });
        }

        get hasMedia(): boolean {
            return this.medias.length !== 0;
        }

        uploadImageSuccess(formData: FormData, index: number): void {
            this.createMedia(index, formData.get('file') as File).then(() => {
                this.emitMediasChanged();
            });
        }

        editImage(formData: FormData, index: number): void {
            this.createMedia(index, formData.get('file') as File).then(() => {
                this.emitMediasChanged();
            });
        }

        private createMedia(index: number, file: File): Promise<void> {
            return this.$store.dispatch(UploadMedia.Key, new UploadMediaPayload(file))
                .then((media: Media) => {
                    this.medias[index] = media;
                })
                .catch((reason: any) => {
                    console.log(reason, 'TODO Error handling')
                });
        }

        beforeRemove(index: number, done: any): void {
            if (!confirm("Remove image")) {
                return;
            }

            done();

            if (index < 0) {
                return;
            }

            this.medias.splice(index, 1);
            this.emitMediasChanged();
        }

        emitMediasChanged(): void {
            this.$emit('mediasChanged', this.medias);
        }
    }

    interface Image {
        path: string,
        default?: number,
        highlight?: number,
        caption?: string
    }
</script>
