import {EmojiIndex} from "emoji-mart-vue-fast";
<template>
    <v-menu max-width="300px" :close-on-content-click="false" offset-y>
        <template v-slot:activator="{ on }">
            <v-btn color="transparent"
                   v-on="on"
                   class="text-none"
                   :autocapitalize="false"
            >{{ postButton.text }}</v-btn>
        </template>
        <v-card>
            <v-card-title>Edit button</v-card-title>
            <v-card-text>
                <v-layout style="position: relative">
                    <v-text-field
                            label="Text"
                            ref="text"
                            v-model="postButton.text"
                            :value="postButton.text"
                            @change="emitButtonChanged"
                    />
                    <v-menu :close-on-content-click="false" offset-y>
                        <template v-slot:activator="{ on }">
                            <v-btn
                                    :icon="true"
                                    v-on="on"
                                    absolute
                                    bottom
                                    right
                                    @click="initializeEmojiPicker()"
                            > 😄
                            </v-btn>
                        </template>

                        <picker
                                v-if="isEmojiPickerInitialized"
                                :data="emojiPickerData"
                                :title="'Pick your emoji...'"
                                :emoji="'point_up'"
                                @select="addEmoji"
                        ></picker>
                    </v-menu>
                </v-layout>
                <v-text-field
                        label="Url"
                        v-if="postButton.isLink()"
                        v-model="postButton.url"
                        :value="postButton.url"
                />
                <v-select
                        :items="buttonTypeItems"
                        label="Type"
                        :value="buttonTypeItemIndex"
                        v-on:change="changeButtonType"
                        solo
                />
                <v-btn @click="removeButton">Delete button</v-btn>
            </v-card-text>
        </v-card>
    </v-menu>
</template>

<script lang="ts">
    import "reflect-metadata";
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import PostButton from "@/App/Model/PostButton";
    import ButtonType from "@/App/Model/ButtonType";
    import ButtonTypeItemsHelper, {ButtonTypeItem} from "@/App/Helper/ButtonTypeItemsHelper";
    import EmojiHelper from "@/App/Helper/EmojiHelper";
    import {EmojiIndex} from "emoji-mart-vue-fast";
    import Picker from "emoji-mart-vue-fast/src/components/Picker.vue";

    @Component({
        components: {
            Picker
        }
    })
    export default class PostButtonsComponent extends Vue {
        @Prop() private postButton!: PostButton;

        private isEmojiPickerInitialized: boolean = false;

        get emojiPickerData(): EmojiIndex {
            return EmojiHelper.emojiIndex;
        }

        initializeEmojiPicker(): void {
            this.isEmojiPickerInitialized = true;
        }

        get buttonTypeItems(): ButtonTypeItem[] {
            return ButtonTypeItemsHelper.buttonTypeItems;
        }

        get buttonTypeItemIndex(): ButtonTypeItem | null {
            return ButtonTypeItemsHelper.getByText(this.postButton.type?.name ?? 'reaction');
        }

        changeButtonType(buttonTypeItemIndex: number): void {
            this.postButton.type = new ButtonType(this.buttonTypeItems[buttonTypeItemIndex].text);
            this.emitButtonChanged();
        }

        addEmoji(emoji: any): void {
            if (this.postButton.text === null) {
                this.postButton.text = '';
            }
            const text = this.$refs.text as any;
            const input = text.$el.querySelector('input') as HTMLInputElement;
            const cursorPosition = input.selectionEnd;
            const start = this.postButton.text.substring(0, input.selectionStart ?? 0);
            const end = this.postButton.text.substring(input.selectionStart ?? 0);
            this.postButton.text = start + emoji.native + end;
            input.focus();
            this.$nextTick(() => {
                input.selectionEnd = cursorPosition + emoji.native.length
            });

            this.emitButtonChanged();
        }

        removeButton(): void {
            this.$emit('buttonRemoved', this.postButton);
        }

        emitButtonChanged(): void {
            this.$emit('buttonChanged', this.postButton);
        }
    }
</script>
