<template>
    <date-picker
            type="datetime"
            :disabled-date="notBeforeToday"
            :disabled-time="notBeforeNow"
            :disabled="isPastScheduledAt"
            v-model="scheduledAt"
            @change="emitScheduledAtChanged"
    />
</template>

<script lang="ts">
    import "reflect-metadata";
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import PostButtonComponent from "@/Components/PostComponent/PostButtonComponent.vue";
    import DatePicker from "vue2-datepicker";

    @Component({
        components: {
            PostButtonComponent,
            DatePicker
        }
    })
    export default class PostScheduledAtComponent extends Vue {
        @Prop({type: Date}) private scheduledAt!: Date | null;

        get isPastScheduledAt(): boolean {
            if (this.scheduledAt === null) {
                return false;
            }

            return this.scheduledAt < new Date();
        }

        private notBeforeToday(date: Date): boolean {
            const today = new Date();
            today.setHours(0, 0, 0, 0);

            return date < today;
        }

        private notBeforeNow(date: Date): boolean {
            return date < new Date();
        }

        private emitScheduledAtChanged(): void {
            this.$emit('scheduledAtChanged', this.scheduledAt);
        }
    }
</script>
