<template>
    <layout
            :drawer-right="drawerRight"
            :login-overlay="loginOverlay"
    >
        <template v-slot:toolbar>
            <v-toolbar-title>{{ title }}</v-toolbar-title>
        </template>
        <template v-slot:right-sidebar>
            <v-subheader>Some options will appear here</v-subheader>
        </template>
        <v-container fluid
                     @dragenter.prevent="dropFilesOverlay=true"
                     @mouseleave="dropFilesOverlay=false"
                     @drop.prevent="onDrop"
        >
            <v-layout row align-center>
                <v-flex md1 justify-center>
                    <v-checkbox/>
                </v-flex>
                <v-flex md3>
                    <channel-selector-component
                            v-bind:channels="channels"
                            :selected-channel-id="selectedChannelId"
                            @changeSelectedChannel="onChangeSelectedChannel"
                    />
                </v-flex>
            </v-layout>

            <post-generator-component
                    :posts="generatedPosts"
                    :files="files"
            />

            <post-list-component :posts="posts"/>

            <v-btn v-show="showLoadPostsButton" v-intersect.quiet="loadMorePosts">Load more</v-btn>

            <v-overlay :value="dropFilesOverlay">
            </v-overlay>
        </v-container>
    </layout>
</template>

<script lang="ts">
    import PostListComponent from '@/Components/PostListComponent.vue';
    import {Component, Vue} from "vue-property-decorator";
    import Post from "@/App/Model/Post";
    import ChannelSelectorComponent from "@/Components/ChannelSelectorComponent.vue";
    import Channel from "@/App/Model/Channel";
    import Layout from "@/Layouts/Layout.vue";
    import LoadMorePosts from "@/Store/Actions/LoadMorePosts";
    import PostGeneratorComponent from "@/Components/PostGeneratorComponent.vue";
    import UpdateSelectedChannel from "@/Store/Actions/UpdateSelectedChannel";

    @Component({
        components: {
            PostGeneratorComponent,
            Layout,
            ChannelSelectorComponent,
            PostListComponent,
        },
    })
    export default class ContentAdministrationPage extends Vue {
        private drawerRight: boolean = false;
        private isPostLoadingProcessing = false;
        private files: File[] = [];
        private dropFilesOverlay: boolean = false;

        get title(): string {
            return 'Content administration';
        }

        get posts(): Post[] {
            return this.$store.getters.sortedPosts;
        }

        get generatedPosts(): Post[] {
            return this.$store.getters.generatedPosts;
        }

        get channels(): Channel[] {
            return this.$store.state.channels;
        }

        get selectedChannelId(): number | null {
            return this.$store.state.selectedChannel?.id ?? null;
        }

        get showLoadPostsButton(): boolean {
            return !this.$store.state.isAllPostsLoaded;
        }

        get loginOverlay(): boolean {
            return !this.$store.getters.isAuthenticated;
        }

        onDrop(e: any) {
            this.files = [...e.dataTransfer.files];
            this.dropFilesOverlay = false;
        }

        onChangeSelectedChannel(selectedChannel: Channel): void {
            this.$store.dispatch(UpdateSelectedChannel.Key, selectedChannel);
        }

        loadMorePosts(): void {
            if (this.isPostLoadingProcessing) {
                return;
            }

            this.isPostLoadingProcessing = true;
            this.$store.dispatch(LoadMorePosts.Key).finally(() => {
                this.isPostLoadingProcessing = false;
            });
        }
    }
</script>
