<template>
    <v-select
            :items="items"
            label="Channel"
            v-model="selectedChannelId"
            v-on:change="changeChannel"
            solo
    />
</template>

<script lang="ts">
    import "reflect-metadata";
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import Channel from "@/App/Model/Channel";

    @Component
    export default class ChannelSelectorComponent extends Vue {
        @Prop() private channels!: Channel[];
        @Prop({type: Number}) private selectedChannelId: number | undefined;

        get items(): ChannelItem[] {
            return this.channels.map((channel: Channel) => {
                return {
                    text: channel!.name,
                    value: channel!.id
                } as ChannelItem;
            });
        }

        changeChannel(channelId: number): void {
            let selectedChannel = this.channels.find((channel: Channel) => {
                return channel.id === channelId;
            }) as Channel;

            this.$emit('changeSelectedChannel', selectedChannel);
        }
    }

    interface ChannelItem {
        text: string,
        value: number
    }
</script>
