<template>
    <v-container>
        <v-row>
            <v-col cols="12">
                <v-row align="center"

                       class="grey lighten-5 pa-10"
                       style="min-height: 300px;">
                    <v-container v-show="hasPosts">
                        <v-layout row v-for="(post, postIndex) in posts" :key="postIndex" class="mb-4">
                            <v-flex md12>
                                <post-component
                                        :post="post"
                                        @postSaved="onPostSaved(post)"
                                        @postChanged="dispatchPostsUpdated"
                                >
                                    <template v-slot:actions>
                                        <v-btn @click="removePost(post)">Remove</v-btn>
                                    </template>
                                </post-component>
                            </v-flex>
                        </v-layout>
                    </v-container>
                    <v-row align="center" justify="center">
                        <v-btn color="primary" @click="addPost()">
                            Add post
                        </v-btn>
                        <span>Or drag media here to add new post</span>
                        <v-spacer></v-spacer>
                        <v-btn v-show="hasPosts" @click="removeAll()">
                            Remove all
                        </v-btn>
                    </v-row>
                </v-row>
            </v-col>
        </v-row>
    </v-container>
</template>

<script lang="ts">
    import "reflect-metadata";
    import {Component, Prop, Vue, Watch} from 'vue-property-decorator';
    import Post from "@/App/Model/Post";
    import PostComponent from "@/Components/PostComponent.vue";
    import UpdateGeneratedPosts from "@/Store/Actions/UpdateGeneratedPosts";
    import ReloadPosts from "@/Store/Actions/ReloadPosts";
    import UploadMedia, {UploadMediaPayload} from "@/Store/Actions/UploadMedia";
    import Media from "@/App/Model/Media";

    @Component({
        components: {PostComponent}
    })
    export default class PostGeneratorComponent extends Vue {
        @Prop() private posts!: Post[];
        @Prop() private files!: File[];

        private get hasPosts(): boolean {
            return this.posts.length !== 0;
        }

        @Watch("files")
        private onFilesUpdate(files: File[]): void {
            files.forEach((file: File) => {
                this.$store.dispatch(UploadMedia.Key, new UploadMediaPayload(file))
                    .then((media: Media) => {
                        this.addPostWithMedia(media);
                    })
                    .catch((reason: any) => {
                        console.log(reason, 'TODO Error handling')
                    });
            });
        }

        private addPostWithMedia(media: Media): void {
            const post = new Post();
            post.medias.push(media);

            this.appendPost(post);
        }

        private addPost(): void {
            this.appendPost(new Post());
        }

        private appendPost(post: Post): void {
            this.posts.push(post);
            this.dispatchPostsUpdated();
        }

        private removePost(post: Post): void {
            const postIndex = this.posts.indexOf(post, 0);
            if (postIndex < 0) {
                return;
            }

            this.posts.splice(postIndex, 1);
            this.dispatchPostsUpdated();
        }

        private removeAll(): void {
            this.posts.splice(0);
            this.dispatchPostsUpdated();
        }

        // TODO move dispatching to parent
        private dispatchPostsUpdated(): void {
            this.$store.dispatch(UpdateGeneratedPosts.Key, this.posts);
        }
        // TODO move dispatching to parent
        private onPostSaved(post: Post): void {
            this.$store.dispatch(ReloadPosts.Key).then(() => {
                this.removePost(post);
            });
        }
    }
</script>
