<template>
    <v-container>
        <v-btn @click="dispatchEnableSorting">Sort</v-btn>
        <v-layout row v-for="(post, postIndex) in posts" :key="postIndex" class="mb-4">
            <v-flex md12>
                <post-component
                        :post="post"
                        @postScheduledAtChanged="dispatchDisableSorting"
                        @postChanged="emitPostsChanged"
                />
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script lang="ts">
    import "reflect-metadata";
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import Post from "@/App/Model/Post";
    import PostComponent from "@/Components/PostComponent.vue";
    import UpdatePosts from "@/Store/Actions/UpdatePosts";
    import UpdateIsPostsSortingEnabled from "@/Store/Actions/UpdateIsPostsSortingEnabled";

    @Component({
        components: {PostComponent}
    })
    export default class PostListComponent extends Vue {
        @Prop() private posts!: Post[];

        private emitPostsChanged(): void {
            this.$emit('postsChanged', this.posts);
            this.dispatchPostsUpdated();
        }

        // TODO move dispatching to parent
        private dispatchPostsUpdated(): void {
            this.$store.dispatch(UpdatePosts.Key, this.posts);
        }

        // TODO move dispatching to parent
        private dispatchEnableSorting(): void {
            this.$store.dispatch(UpdateIsPostsSortingEnabled.Key, true);
        }

        // TODO move dispatching to parent
        private dispatchDisableSorting(): void {
            this.$store.dispatch(UpdateIsPostsSortingEnabled.Key, false);
        }
    }
</script>
