<template>
    <v-card>
        <v-card-text>
            <v-container>
                <v-layout row align-center>
                    <v-flex md1 align-center justify-center>
                        <v-container>
                            <v-layout row align-center>
                                <v-flex><span v-if="hasId">{{ post.id }}</span></v-flex>
                                <v-flex>
                                    <v-checkbox></v-checkbox>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-flex>
                    <v-flex md3 min-width="190px">
                        <post-medias-component
                                :medias="post.medias"
                                @mediasChanged="emitPostChanged"
                        />
                    </v-flex>
                    <v-flex md4>
                        <post-text-component :text="post.text" @textChanged="onTextChanged"/>
                    </v-flex>
                    <v-flex md4>
                        <post-buttons-component
                                :post-button-rows="post.postButtonRows"
                                @buttonsChanged="emitPostChanged"
                        />
                    </v-flex>
                </v-layout>
            </v-container>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions class="mr-auto">
            <post-scheduled-at-component
                    :scheduled-at="scheduledAt"
                    @scheduledAtChanged="onScheduledAtChanged"
            />
            <v-spacer/>
            <slot name="actions"></slot>
            <v-btn
                    rounded
                    color="primary"
                    @click="save"
            >Save
            </v-btn>
        </v-card-actions>
    </v-card>
</template>

<script lang="ts">
    import "reflect-metadata";
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import Post from "@/App/Model/Post";
    import PostTextComponent from "@/Components/PostComponent/PostTextComponent.vue";
    import PostButtonsComponent from "@/Components/PostComponent/PostButtonsComponent.vue";
    import PostMediasComponent from "@/Components/PostComponent/PostMediasComponent.vue";
    import SavePost from "@/Store/Actions/SavePost";
    import PostScheduledAtComponent from "@/Components/PostComponent/PostScheduledAtComponent.vue";

    @Component({
        components: {
            PostScheduledAtComponent,
            PostMediasComponent,
            PostButtonsComponent,
            PostTextComponent,
        }
    })
    export default class PostComponent extends Vue {
        @Prop({type: Post}) private post!: Post;

        get hasId(): boolean {
            return this.post.id !== undefined;
        }

        get scheduledAt(): Date | null {
            return this.post.scheduledAtAsDate;
        }

        onScheduledAtChanged(date: Date | null): void {
            this.post.scheduledAtAsDate = date;
            this.$emit('postScheduledAtChanged');
            this.emitPostChanged();
        }

        onTextChanged(text: string): void {
            this.post.text = text;
            this.emitPostChanged();
        }

        emitPostChanged(): void {
            this.$emit('postChanged', this.post);
        }

        // TODO move dispatching to parent
        save(): void {
            this.$store.dispatch(SavePost.Key, this.post)
                .then((post: Post) => {
                    this.$emit('postSaved', post);
                })
                .catch((reason: any) => {
                    console.log(reason, 'TODO Error handling')
                });
        }
    }
</script>
