<template>
    <v-app>
        <v-btn
                absolute
                dark
                top
                right
                color="primary"
                @click.stop="drawerRight = !drawerRight"
        >
            <v-app-bar-nav-icon/>
        </v-btn>

        <v-navigation-drawer
                v-model="drawerRight"
                app
                clipped
                right
        >
            <slot name="right-sidebar">
                <v-subheader>Right sidebar</v-subheader>
            </slot>
        </v-navigation-drawer>

        <slot clipped></slot>

        <slot name="footer"></slot>

        <v-overlay
                :value="loginOverlay"
                :opacity="1"
                color="white"
        >
            <v-btn color="primary" :href="loginLink">
                Login via telegram bot
            </v-btn>
        </v-overlay>
    </v-app>
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";
    import {Prop} from "vue-property-decorator";
    import GlobalConfig from "@/App/Config/GlobalConfig";

    @Component
    export default class Layout extends Vue {
        @Prop() private drawerRight!: boolean;
        @Prop() private loginOverlay!: boolean;

        get loginLink(): string {
            return GlobalConfig.mainBotConfig().joinLink;
        }
    }
</script>